.data-box {
  overflow: scroll; 
  background-color: rgba(255,255,255, .5);
  max-height: 600px;
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  width:99%;
}

@media (min-width: 600px) {
  .data-box{
    max-width: 80%;
  }
}