/* .header {
  background-color: rgba(4,245,255, .5);
  position: fixed;
  margin: 0;
  padding: 10px;
  box-shadow: 5px 5px 5px honeydew;
} */

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(56,0,60,.9);
  /* background-color: rgba(0,255,133,.9); */
  width: 100%;
  height: 90px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0;
  border-radius: 0 0 5px 5px;
  /* position: sticky;
  top:0;
  z-index: 2; */
}

.header-txt {
  /* background-color: rgba(4,245,255, .9); */
  font-size: 40px;
  color: white;  
  position: relative;
  right: 10px;
}

.buoy {
  height: 80%;
  position: relative;
  right: 10px;
}

@media (min-width: 600px) {
  .buoy{
    right: 30px;
  }
}