.footer{
  width: 100%;
  background-color: rgba(0,255,133, 1);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.to-top-btn{
  margin-bottom: 20px;
  margin:10px;
  height: 25px;
  width: 60px;
  background-color: rgba(255,255,255, .8);
  border-radius: 4px;
  border: 1px solid black;
}